.hand {
    width: 50%;
    height: 3rem;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s ease-in-out;
}